@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

h1, h2{
  font-weight: 700;
  text-align: center;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

div{ 
  border: 1px solid black;
  height: 100px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

button {
  padding: 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
